<!DOCTYPE html>
<html>
<head>
  {{> meta }}
	{{> style }}
</head>
<body>
  <i class="fas fa-ankh"></i>
  <i class="icofont-anchor"></i>
  <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit</div>
  <img src="img/table.jpg" alt="">
</body>
</html>
