<!DOCTYPE html>
<html>
<head>
  {{> meta }}
	{{> style }}
  <style>
    .add input {
      border: 1px solid #000;
    }
    .item {
      display: flex;
      flex-flow: row nowrap;
    }
    .item button {
      border: 1px solid green;
    }
  </style>

</head>
<body>

    <form action="" class="add">
      <input type="text" class="add-input">
      <button class="add-btn">ADD</button>
    </form>

    <ul class="list"></ul>

</body>
</html>
